@import '../../styles/colors.scss';

.trivium-box{
  padding: .625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: $haze;
  border: 1px solid;
  border-radius: 4px;
  margin-top: .5rem;
  font-size: larger;
}
