$light-brown: #d0cece;
$graphite: #31313f;
$green: #14d553;
$red: #f14e33;
$gray: #dddddd;

$neon: #14d5d4;
$yellow: #f1cd33;
$fizz: #af2461;

$black: #032423;
$smudge: #324b4b;
$smoke: #95b1b0;
$silver: #b9cbca;
$haze: #e2eae9;
$white: #f2f2f2;

$purple: #757bd7;
$pop: #7194f3;
$ping: #00b3de;

$dark-yellow: #f1b033;

$blue: #00b7ffe3
