@import '../../styles/colors.scss';

.page{
  background-color: #E9EAED;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu{
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  min-height: 2.5rem;
  width: 90%;
  text-align: center;

  @media (max-width: 500px) {
    width: 90%;
    min-height: 1.75rem;
  }
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.logo{
  margin-top: -3rem;
  flex: 1;
  height: 10rem;
  @media (max-width: 500px) {
    display: none;
  }
}


.action-button{
  text-transform: capitalize;
}

.action-button-web{
  text-transform: capitalize;
  @media (max-width: 500px) {
    display: none;
  }
}

.actions-links{
  margin-top: 1rem;
  display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: space-around;

  a {
    font-weight: 600;
    font-size: 1.5rem;

    &:hover {
      font-weight: 800;
      text-decoration: underline;
    }
  }

  @media (max-width: 500px) {
    a{
      font-weight: 600;
      font-size: small;
    }
  }
}


.content{
  text-align: left;
  margin-bottom: auto;
  min-height: 100vh;
  @media (max-width: 500px) {
    text-indent: .225rem;
  }
}

