@import '../../styles/colors.scss';

.page{
  background-color: #6d8da1;
  background-image: linear-gradient(to bottom right, #96e3fa, #3d5da1);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menu{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  min-height: 5rem;
}

.logo{
  flex: 3;
  color: $haze;
}

.actions{
  flex: 2;
}

.action-button{
  text-transform: capitalize;
}

.actions-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    font-weight: 600;
    font-size: x-large;

    &:hover {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}


.content{
  text-align: justify;
  margin-bottom: auto;
  min-height: 100vh;
}

