.home-content{
  margin: auto;
  width: 90%;
}

.home-title{
  font-size: 3.25rem;
  margin-bottom: 1.225rem;
  font-weight: 600;

  @media (max-width: 500px) {
    font-size: 1.5rem;
    margin-bottom: 1.225rem;
    font-weight: 600;
  }
}

.home-lead{
  font-size: 1.725rem;
  margin-bottom: 1.5rem;

  @media (max-width: 500px) {
    display: none;
    font-size: 1.25rem;
    margin-bottom: .725rem;
    font-weight: 600;
  }
}

.home-list{
  font-size: 1.225rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @media (max-width: 500px) {
    font-size: 1.225rem;
    margin-bottom: 1rem;
  }
}

.home-list-element{
  margin-left: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 500px) {
    margin-left: .5rem;
    margin-bottom: .5rem;
  }
}

.home-mt{
  margin-bottom: 1rem;
  @media (max-width: 500px) {
    width: 95%;
  }
}

.home-downloads{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  justify-content: space-around;
  border: 1px dashed;
  @media (max-width: 500px) {
    flex-direction: column;
    width: 95%;
  }
}

.home-track{
  @media (max-width: 500px) {
    margin-bottom: .5rem;
    font-size: smaller;
  }
}


.element{
  margin-left: .425rem;
}
