@import '../../styles/colors.scss';

.subsection-length{
  margin-left: .5rem;
  align-items: center;
  width: 4.25rem;
  @media (max-width: 500px) {
    width: 3.8rem;
    margin-left: .225rem;
    font-size: .75rem;
  }
}

.subsection-ascent{
  margin-left: 1rem;
  margin-right: .1rem;
  width: 3rem;
  @media (max-width: 500px) {
    margin-left: .225rem;
  }
  text-align: right;
}

.subsection-descent{
  width: 3rem;
  margin-right: .25rem;
  text-align: left;
  @media (max-width: 500px) {
    margin-left: -.2rem;
  }
}

.subsection-heights{
  min-width: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 500px) {
    margin-left: .225rem;
    font-size: .75rem;
  }
}

.subsection-color-blue{
  color: $blue;
}

.subsection-color-red{
  color: $red;
}

.subsection-color-green{
  color: $green;
}

.subsection-color-yellow{
  color: $yellow;
}

.subsection-color-black{
  color: $black;
}
