@import '../../styles/colors.scss';

.subsection-data{
  margin-left: .5rem ;

  @media (max-width: 500px) {
    margin-left: .225rem;
    font-size: .75rem;
  }
}

.subsection-ascent{
  margin-left: 1.5rem;
  @media (max-width: 500px) {
    margin-left: .225rem;
  }
}

.subsection-heights{
  min-width: 4rem ;
  display: flex;
  flex-direction: row;
  @media (max-width: 500px) {
    margin-left: .225rem;
    font-size: .75rem;
  }
}

.subsection-descent{
  margin-right: .5rem;
}


.subsection-color-blue{
  color: $blue;
}

.subsection-color-red{
  color: $red;
}

.subsection-color-green{
  color: $green;
}

.subsection-color-yellow{
  color: $yellow;
}

.subsection-color-black{
  color: $black;
}
