@import '../../styles/colors.scss';

.subsection-view{
  display: flex;
  flex-direction: column;
  padding: 2.5rem;

  @media (max-width: 500px) {
    padding: .825rem;
  }

}

.subsection-view-title{
  font-weight: 600;
  font-size: xx-large;
  text-align: center;

  @media (max-width: 500px) {
      font-size: 1.225rem;

  }
}

.subsection-data{
  display: flex;
  flex-direction: row;
}

.subsection-description-with-photo{
  margin-top: 2rem;
  text-indent: 1.5em;
  font-size: 1.225rem;
  line-height: 1.4rem;

  @media (max-width: 500px) {
    margin-top: .8rem;
    text-indent: 1em;
    line-height: 1.4rem;
  }
}

.subsection-mt{
  flex-direction: row;
  flex: 3;
}

.subsection-utilities{
  margin-top: 1rem;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.float{
  float: right;
  margin-left: 1rem;

  @media (max-width: 500px) {
    float: none;
    width: 100%;
  }
}

.text-block{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.subsection-map-utilities-horizontal{
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.subsection-map-utilities-vertical{
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.subsection-navigation{
  margin-top: 2rem;
  text-align: center;
}
