@import '../../styles/colors.scss';

.sections{
  background-color: $haze;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 90%;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: auto;
  padding: 1rem;
}

.section{
  border: 1px solid;
  border-radius: 20px;
  background-color: $haze;
  width: 100%;
  padding: .825rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.open-with{
  flex: 1;

  a{
    color: $black;
  }
}

.subsections{
  margin-top: .825rem;
}

.subsection{
  margin: .225rem;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;

  a {
    font-weight: 600;
    font-size: large;
    color: $graphite;

    &:hover {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expandable-title{
  flex: 3;
  font-size: larger;
  font-weight: 600;
  min-width: 25rem;
}

.subsection-title{
  background-color: $haze;
  min-width: 25rem;
  padding-left: 1rem;
}

.utility{
  margin-left: 5px;
}
