@import '../../styles/colors.scss';

.sections{
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 90%;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: auto;
  padding: 1rem;
  @media (max-width: 500px) {
    padding: .225rem;

  }
}

.section{
  background-color: rgba(#538083, .15);

  border: 1px solid;
  border-radius: 20px;
  width: 100%;
  padding: .825rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  @media (max-width: 500px) {
    padding: .225rem;
    border-radius: 10px;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

.open-with{
  flex: 1;

  a{
    color: $black;
  }
}

.section-title{
  display: flex;
  font-size: 1.225rem;
  @media (max-width: 500px) {
    font-size: .925rem;
  }
}

.section-chevron{
  vertical-align: middle;
}

.expandable-title:hover{
  cursor: pointer;
}


.sectionWithMap{
  display: flex;
  flex-direction: row;
  min-height: 18.5rem;
  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }
  margin-bottom: .5rem;
}

.minimap{
  flex:1;
  max-height: 10rem;
  @media (max-width: 500px) {
    min-height: 320px;
  }
}

.subsectionWithDescription{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.subsections{
  flex: 2;
  margin-top: 1.225rem;
  @media (max-width: 500px) {
    margin-top: .5rem;
  }
}

.sectionDescription{
  padding: 1rem;
  text-align: justify;
  font-size: larger;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: .9rem;
  }
}

.subsection{
  margin: .225rem;
  display: flex;
  flex-direction: row;
  margin-bottom: .5rem;
  padding-bottom: .125rem;
  border-bottom: cadetblue 1px solid;

  a {
    font-weight: 600;
    font-size: large;
    color: $graphite;

    &:hover {
      font-weight: 800;
      text-decoration: underline;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.expandable-title{
  flex: 3;
  font-size: larger;
  font-weight: 600;
  min-width: 25rem;

  @media (max-width: 500px) {
    min-width: 400px;
  }
}

.subsection-title{
  min-width: 25rem;
  padding-left: .225rem;
  font-size: .9rem;


  @media (max-width: 500px) {
    padding-left: 0;
    min-width: 10rem;
    font-size: .825rem;
  }
}

.allinfo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.utility{
  margin-left: 5px;
}
