@import '../../styles/colors.scss';

.utility-box{
  padding: .5rem;
  background-color: $haze;
  border: 1px solid;
  border-radius: 12px;
  min-width: 15rem;
  max-height: 12rem;
  margin-left: .85rem;
  margin-top: .225rem;
  margin-bottom: .5rem;

    a {
    font-weight: 600;
    font-size: large;
    color: $graphite;

    &:hover {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}

.utility-title{
  font-size: larger;
  text-align: center;
  font-weight: 600;
  margin-bottom: .5rem;
}

.icon{
  margin-left: .425rem;
}

.utility-address{
  max-width: 15rem;
  margin-bottom: 1rem;
}

.utility-address-and-photo{
  display: flex;
  flex-direction: row;
}

.utility-phone-and-url{
  font-size: 0.925rem;
  margin-top: 1.625px;
}

.utility-info{
  margin-left: .625rem;
  margin-top: .625rem;
}
