.rules-content{
  margin: auto;
  width: 90%;
}

.rules-header{
  font-size: 1.225rem;
  margin-bottom: 3rem;
  text-indent: 2rem;

  @media (max-width: 500px) {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-indent: 1rem;
  }
}

.rules-subheader{
  font-size: x-large;
  margin-bottom: 1rem;
  font-weight: 700;
}

.rules-list{
  font-size: 1.225rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @media (max-width: 500px) {
    font-size: .925rem;
    margin-bottom: .725rem;
  }
}

.rules-list-element{
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.element{
  margin-left: .5rem;
  line-height: 1.3rem;
}

.ownRoute{
  text-decoration: underline;
}
